body {
  background-color: #000000;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #F7EFCE !important;
}

.nav-link {
  color: black;
}

.carousel {
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.d-block {
  max-height: 600px;
}

.container {
  font-family: 'Lato', sans-serif;
}

.container-body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.statement {
  padding: 05px;
  text-align: center;
}

.random-four {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: center;
}

.btn {
  margin-top: 10px;
  border-color: #F7EFCE !important;
  color: #F7EFCE !important;
}

.btn:hover {
  background-color: #F7EFCE !important;
  color: black !important;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 15px;
}

.searchDrinks {
  display: flex;
  justify-content: center;
}

.container-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  padding: 30px;
  font-family: 'Lato', sans-serif;
}

.info {
  padding-top: 10px;
  text-align: center;
  line-height: 50px;
}

.results-table {
  text-align: center;
}

td {
  line-height: 5px;
}