body {
  background-color: #000000;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #F7EFCE !important;
}

.nav-link {
  color: black;
}

.carousel {
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.d-block {
  max-height: 600px;
}

.container {
  font-family: 'Lato', sans-serif;
}

.container-body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.statement {
  padding: 05px;
  text-align: center;
}

.random-four {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: center;
}

.btn {
  margin-top: 10px;
  border-color: #F7EFCE !important;
  color: #F7EFCE !important;
}

.btn:hover,
.login-btn:hover {
  background-color: #F7EFCE !important;
  color: black !important;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 15px;
}

.searchDrinks {
  display: flex;
  justify-content: center;
}

.container-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  display: none;
}

.final-drink {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  padding: 30px;
  font-family: 'Lato', sans-serif;
  display: none;
}

.drinkThumb1 {
  max-height: 250px;
  max-width: 250px;
  margin: 30px;
}

drinkThumb2 {
  max-height: 350px;
  max-width: 350px;
  margin: auto 0;
  width: 200px;
}

.info {
  padding-top: 10px;
  text-align: center;
  line-height: 50px;
}

.results-table {
  text-align: center;
  margin: auto 0px;
  width: 300px;
}

td {
  line-height: 5px;
}

.login-input,
.login-btn {
  font-weight: 700;
}

.login-btn {
  margin-top: 10px;
  border: solid 1px #F7EFCE !important;
  background-color: black !important;
  color: #F7EFCE !important;
  border-radius: 10px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
}

.login-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  border-radius: 25px;
  border: solid 2px #F7EFCE;
}

.login-input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

/*.display-none {
  display: none
}

.hide {
  visibility: hidden;
}*/