body {
  background-color: #000000;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

.carousel {
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.d-block {
  max-height: 600px;
}

.container {
  font-family: 'Lato', sans-serif;
}

.container-body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.statement {
  padding: 05px;
  text-align: center;
}

.random-four {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.searchDrinks {
  display: flex;
  justify-content: center;
}

.container-results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}

.drink-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  padding: 30px;
  font-family: 'Lato', sans-serif;
}

.info {
  padding-top: 10px;
  text-align: center;
  line-height: 50px;
}

.results-table {
  text-align: center;
}